#!/usr/bin/env bash
echo ""
echo "local dbrRateLimit = dynBlockRulesGroup()"
echo "-- Generate a warning if we detect a query rate above ${DNSDIST_RATE_LIMIT_WARN} qps for at least ${DNSDIST_RATE_LIMIT_EVAL_WINDOW}s."
echo "-- If the query rate raises above ${DNSDIST_RATE_LIMIT_BLOCK} qps for ${DNSDIST_RATE_LIMIT_EVAL_WINDOW} seconds, we'll block the client for ${DNSDIST_RATE_LIMIT_BLOCK_DURATION}s."
echo "dbrRateLimit:setQueryRate(${DNSDIST_RATE_LIMIT_BLOCK}, ${DNSDIST_RATE_LIMIT_EVAL_WINDOW}, \"Exceeded query rate\", ${DNSDIST_RATE_LIMIT_BLOCK_DURATION}, DNSAction.Drop, ${DNSDIST_RATE_LIMIT_WARN})"